:root {
    --darkblue: #1d2a62;
    --lightblue: #2a548b;
    --smokywhite: #ededed;
    --lightgreen: #d3e6a1;
    --green: #a7bd40;
    --darkgreen: #1d3309;
}

body {
    background-color: var(--green); 
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
}
nav button {
    border-radius: 15px;
    background-color: var(--darkblue);
    color: var(--smokywhite);
    padding: 12px;
    text-transform: uppercase;
    box-shadow: 2px 2px black;
    width: 8%;
}
nav button:hover {
    background-color: var(--lightblue);
    color: #1d2a62;
    cursor: pointer;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    color: var(--darkblue);
}
nav li {
    padding: 0 10px;
}
nav li:first-child {
    color: #2a548b;
}
nav li:hover {
    color: var(--lightgreen);
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.main-container {
    width: 90%;
    margin: auto; 
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}
.main-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left; 
}
.main-card img {
    width: 230px;
    height: 230px;
}
.main-card h3 {
    margin: 8px 0;
    font-weight: bold;
}
.main-card h4 {
    margin: 6px 0;
}
.main-card p {
    max-width: 230px;
    margin-top: 0;
}
.main-card button {
    background-color: var(--darkblue);
    margin-bottom: 30px;
    border: none;
    box-shadow: 2px 2px #1d3309;
    padding: 8px;
    color: var(--smokywhite);
}
.main-card button:hover {
    background-color: var(--lightblue);
    color: #1d2a62;
    cursor: pointer;
}

footer {
    width: 100%;
    margin: 0;
    background-color: var(--darkgreen);
    opacity: 0.8;
    color: var(--lightgreen);

    display: flex;
    justify-content: space-around;
}
.subscribe {
    text-align: left;
    width: 40%;
}
.subscribe form {
    padding: 10px 20px;
    font-size: large;
}
.form1 {
    display: flex;
    gap: 10px;
}
/* .form11 {
    justify-content: flex-start;
    width: 50%;
}
.form12 {
    justify-content: flex-end;
    width: 50%;
} */
form select {
    padding: 7px;
    width: 100%;
}
.subscribe input {
    margin: 10px 0;
    padding: 7px;
}
.subscribe button {
    font-size: small;
    background-color: var(--lightgreen);
    padding: 7px;
    width: 100%;
}
.subscribe button:hover {
    background-color: var(--green);
    cursor: pointer;
}






